<!-- 电影详情开始 -->
<div class="detail">
    <h1>{{movie.title}}</h1>
    <div class="dt-info">
        <div class="dti-i"><img ng-src="{{movie.images.large}}" alt=""></div>
        <div class="dti-w">
            <p>
                <strong>导演：</strong>
                <span ng-repeat="value in movie.directors">{{value.name}} <span  ng-if="!$last">、</span></span>
            </p>
            <p>
                <strong>主演：</strong>
                 <span ng-repeat="value in movie.casts">{{value.name}} <span  ng-if="!$last">、</span></span>
            </p>
            <p><strong>类型：</strong><span ng-repeat="value in movie.genres">{{value}} <span  ng-if="!$last">、</span></span></p>
            <p><strong>国家：</strong><span ng-repeat="value in movie.countries">{{value}} <span  ng-if="!$last">、</span></span></p>
            <p><strong>评分：</strong>{{movie.rating.average}}</p>
            <p><strong>时间：</strong>{{movie.year}}</p>
            <p><strong>又名：</strong><span ng-repeat="value in movie.aka">{{value}} <span  ng-if="!$last">、</span></span></p>
        </div>
    </div>
    <h3>剧情简介:</h3>
    <p style="color:#676767">{{movie.summary}}</p>
</div>
<!-- 电影详情结束 -->
  <div class="mask" ng-hide="isLoading">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>